<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Car Share</title>

    <link href="/assets/bootstrap.min.css" rel="stylesheet">
    <link href="/assets/Style.css" rel="stylesheet">
    <!--[if lt IE 9]>
    <script type="js/html5shiv.min.js"></script>
    <script type="js/respond.min.js"></script>
	<![endif]-->
    
  </head>

  <body>

  

	<div id="slider" class="carousel slide" data-ride="carousel">
 
  <ol class="carousel-indicators">
    <li data-target="#slider" data-slide-to="0" class="active"></li>
    <li data-target="#slider" data-slide-to="1"></li>
    <li data-target="#slider" data-slide-to="2"></li>
  </ol>

 
  <div class="carousel-inner" role="listbox">
    <div class="item active">
      <img src="images/bg1.jpg" alt="Pic1">
      <div class="carousel-caption hidden-xs hidden-sm">
        <h1>About Us</h1>
        <p class="lead">CarShare is a web application used by students who struggle getting to college on time.</p>
      </div>
    </div>
    <div class="item">
      <img src="images/bg2.jpg" alt="Pic2">
      <div class="carousel-caption hidden-xs hidden-sm">
      <h1>What do we do ?</h1>
        <p class="lead">We help you reach your college easier, faster and in a more comfortable way.</p>
      </div>
    </div>
     <div class="item">
      <img src="images/bg3.jpg" alt="Pic3">
      <div class="carousel-caption hidden-xs hidden-sm">
      <h1>We'll get you there</h1>
        <p class="lead">Just tell us your route and we will group you with other students including a car owner who have the same route as you.</p>
      </div>
    </div>
  </div>

  <!-- Controls -->
  <a class="left carousel-control" href="#slider" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#slider" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>

 <div class="container-sm text-center visible-xs visible-sm">
 <div class="container">
 	<h1>About us</h1>
 	<p class="lead-sm">CarShare is a web application used by students who struggle getting to college on time.</p>
 	<p class="lead-sm">Just tell us your route and we will group you with other students including a car owner who have the same route as you.</p>
 	<p class="lead-sm">Just tell us your route and we will group you with other students including a car owner who have the same route as you.</p>
 </div>
 </div>

<div class="sub-section"></div>

<div class="sign">
 <div class="row">
   <div class="col-lg-4 col-md-5 col-sm-6">
     <div class="sign-up-container">
 

       <h2 class="text-center">Sign Up</h2><br>
		<input type="text" class="form-control" placeholder="First Name">
		<input type="text" class="form-control" placeholder="/Last Name"><br>
		<input type="email" class="form-control" placeholder="Email"><br>
		<input type="text" class="form-control" placeholder="New ID"><br>
		<input type="Password" class="form-control" placeholder="Password"><br>
		<input type="Password" class="form-control" placeholder="Repeat Password"><br>
		<select class="form-control">
			<option>Male</option>
			<option>Female</option>
		</select>
		<input type="text" class="form-control" placeholder="Age"><br>
		<input type="text" class="form-control" placeholder="Mobile number"><br>
		<input type="checkbox" /> Accept terms and policy<br><a href="#">  policy link<br></a>
		<button type="submit" class="btn btn-default">Sign up</button>
		</form></div></div></div>
</div>



    