<div class="sub-section"></div>

 <section class="our-team text-center">
 	<div class="team">
 	<div class="container">
 	<h1>Our Team</h1>
 	<div class="row">
 		<div class="col-lg-3 col-md-4 col-sm-6">
 		   <div class="person">		   
 		     <!--<img src="/assets/Abdo.jpg" alt="Abdo Sami" class="img-thumbnail" width="204" height="236">-->
 		     <h3>Abdo Sami</h3>
 		</div></div>
 		<div class="col-lg-3 col-md-4 col-sm-6">
 		  <div class="person">	
 		  <!-- <img src="/assets/Mostafa.jpg" alt="Mostafa Labib" class="img-thumbnail" width="204" height="236"> -->
 		  <h3>Mostafa Labib</h3>
 		</div></div>
 		<div class="col-lg-3 col-md-4 col-sm-6">
 		  <div class="person">	
 		<!-- <img src="/assets/Muhammed.jpg" alt="Muhammed Abd El-Rhman" class="img-thumbnail" width="204" height="236"> -->
 		<h3>Muhammed Abd El-Rhman</h3>
 		</div></div>
 		<div class="col-lg-3 col-md-4 col-sm-6">
 		  <div class="person">	
 		<!-- <img src="/assets/Ahmed.jpg" alt="Ahmed Abu-Elyazeed" class="img-thumbnail" width="204" height="236"> -->
 		<h3>Ahmed Abu-Elyazeed</h3>
 		</div></div>
 	</div>
 	</div>
 	</div>
 	<div class="contact">
 <h3>Contact us </h3>
	<p>Phone number 0123456789</p>
	<p>FaceBook Page <a href="">www.facebook.com/CarShare</a> </p>
	<p>Email <a href="">Gmail.com</a></p>
	</div>
 </section>

 <div class="sub-section"></div>



    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="http://getbootstrap.com/assets/js/ie10-viewport-bug-workaround.js"></script>

